/* Common CSS Start */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  color: black;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

/*table {
  border-spacing: 2rem;
  font-size: 1.3rem;
}*/

/* Just for Check */
/* table,
  th,
  td {
    border: 3px solid white;
    border-collapse: collapse;
  } */

.container {
  width: 100%;
  font-family: "Lato", sans-serif;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
}

/* Common CSS End */

/* Menu Start */
/* Add a background color to the menu */
.menu {
  width: 100%;
  overflow: hidden;
  background-color: rgba(183, 180, 179, 0.75);
  position: fixed;
  bottom: 0;
}

/* Style the links inside the menu */
.menu a {
  float: left;
  display: block;
  color: #ff0000;
  font-weight: 700;
  padding: 0.3rem;
  margin: 0.5rem;
  font-size: 1rem;
}

/* Change the color of links on hover */
.menu a:hover {
  background-color: rgb(242, 214, 234);
  color: rgb(255, 0, 0);
}

/* Add an active class to highlight the current page */
.menu a.active {
  background-color: rgb(248, 247, 246, 0.85);
  color: coral;
}

/* Hide the link that should open and close the menu on small screens */
.menu .menu--icon {
  display: none;
}

/*
.menu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.menu a {
  display: block;
  padding: 1rem;
  transition: all 0.3s ease;
  color: blue;
  font-size: 1rem;
}

.menu a:hover {
  background-color: rgb(201, 228, 255);
}
*/
/* Menu End */

/* Home Start */
#home {
  width: 100%;
  height: 25vh;
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 70%;
  position: relative;
}

.overlay--background {
  position: absolute;
  width: 100%;
  height: 25vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 127, 80, 0.65); /* Background with opacity */
  z-index: 2;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h2 {
  /* https://css-tricks.com/snippets/css/typewriter-effect/ */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15rem solid rgb(0, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}
/* Home End */

/* About Start */
#about {
  padding: 0rem 2rem;
  margin-bottom: 2rem;
}

#about h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.3rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  color: coral;
}

#about h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.7rem;
  padding-bottom: 0.7rem;
  color: rgb(232, 105, 59);
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.personal-infos {
  line-height: 2rem;
  margin-right: 7rem;
  font-size: 1.3rem;
}

.social-link li a i {
  padding: 1rem;
  font-size: 2rem;
}

/*.about-info {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}*/

.wrap-circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  width: 9rem;
  height: 9rem;
  margin: 1rem 0.5rem;
  border-radius: 50%;
  background: #ffcdb2;
  overflow: hidden;
}

.circle.HTML {
  background-image: conic-gradient(rgb(232, 105, 59) 90%, #ffcdb2 0);
}
.circle.CSS {
  background-image: conic-gradient(rgb(232, 105, 59) 70%, #ffcdb2 0);
}
.circle.JavaScript {
  background-image: conic-gradient(rgb(232, 105, 59) 50%, #ffcdb2 0);
}
.circle.Python {
  background-image: conic-gradient(rgb(232, 105, 59) 75%, #ffcdb2 0);
}
.circle.C-plus-plus {
  background-image: conic-gradient(rgb(232, 105, 59) 65%, #ffcdb2 0);
}
.circle.Java {
  background-image: conic-gradient(rgb(232, 105, 59) 50%, #ffcdb2 0);
}

.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7rem;
  height: 7rem;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: rgb(232, 105, 59);
}
/* About End */

/* Education Start */
#education h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.3rem;
  padding-bottom: 1.3rem;
  color: coral;
}

.degree {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.degree h4 {
  padding: 0.5rem 0;
}

.edu-1 {
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  /*background-color: #f8ad9d;*/
  border-radius: 1rem;
  padding: 1rem;
}

.edu-2 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  /*background-color: #fbc4ab;*/
  border-radius: 1rem;
  padding: 1rem;
}

.edu-3 {
  background-image: linear-gradient(to top, #fad0c4 0%, #ff9a9e 100%);
  /*background-color: #ffdab9;*/
  border-radius: 1rem;
  padding: 1rem;
}
/* Education End */

/* Certification Start */
#certification h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.3rem;
  padding-bottom: 1.3rem;
  margin-top: 3rem;
  color: coral;
}

.certificate {
  background-image: linear-gradient(
    -20deg,
    #ddd6f3 0%,
    #faaca8 100%,
    #faaca8 100%
  );
  /*background-color: #e6dce5;*/
  border-radius: 1rem;
  margin: 0 3rem;
  padding: 1.5rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.certificate h2 {
  padding-top: 1rem;
}
.certificate h4 {
  padding: 0.5rem 0;
}

/* Certification End */

/* Project Start */
#project h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.3rem;
  padding-bottom: 1.3rem;
  margin-top: 2.5rem;
  color: coral;
}

#project h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.3rem;
  padding-bottom: 0.7rem;
  margin: 0 2rem;
  color: rgb(232, 105, 59);
}
/* Project End */

/* Contact Start */
#contact h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.3rem;
  padding-bottom: 1.3rem;
  color: coral;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
#contact form input {
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-family: "Lato", sans-serif;
  border-radius: 0.3rem;
}

#contact form textarea {
  margin-top: 1rem;
  font-family: "Lato", sans-serif;
  border-radius: 0.3rem;
}

#contact form button {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: rgb(255, 0, 0);
  background-color: rgb(244, 203, 189);
  cursor: progress;
}
/* Contact End */

/* Footer Start */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0rem 2rem 4rem;
}
/* Contact End */

/* Media Queries Start */
@media only screen and (max-width: 992px) {
  .edu-1 {
    margin-bottom: 1rem;
  }

  .edu-3 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.7rem;
  }

  .menu a:not(:first-child) {
    display: none;
  }

  #navbar a.menu--icon {
    float: right;
    display: block;
  }

  #home,
  .overlay--background {
    width: 100%;
    height: 20vh;
  }

  .content {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  .menu.responsive {
    position: relative;
  }

  .menu.responsive .menu--icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* Media Queries End */
